.slider {
   display: flex;
}
.slider-container{
    width: 90%;
    margin: 0 auto;
    /* border: 1px solid; */
    overflow: hidden;
    /* display: flex; */
}

.product-card {
    width: 300px;
    margin: 10px;
    /* border: 1px solid; */
    padding: 15px;
    box-sizing: border-box;
    text-align: center;
    flex-shrink:0;
}
.product-card img {
    max-width: 100%;
    height: auto;
}